<nav class="navbar navbar-expand-lg fixed-top navbar-transparent" color-on-scroll="500">
  <div class="container">
    <div class="navbar-translate">
      <a class="navbar-brand" href="https://bemodernarchitect.web.app">modern architect</a>
      <button
        class="navbar-toggler navbar-burger"
        type="button"
        data-toggle="collapse"
        data-target="#navbarToggler"
        aria-controls="navbarTogglerDemo02"
        aria-expanded="false"
        aria-label="Toggle navigation"
        (click)="sidebarToggle()"
      >
        <span class="navbar-toggler-bar"></span>
        <span class="navbar-toggler-bar"></span>
        <span class="navbar-toggler-bar"></span>
      </button>
    </div>
    <div class="navbar-collapse" id="navbarToggler">
      <ul class="navbar-nav ml-auto">
        <!-- <li class="nav-item">
          <a
            class="nav-link"
            rel="tooltip"
            title="Follow us on Twitter"
            data-placement="bottom"
            href="https://twitter.com/SBakhtoiarov"
            target="_blank"
          >
            <i class="fa fa-twitter"></i>
            <p class="d-lg-none">Twitter</p>
          </a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            rel="tooltip"
            title="Like us on Facebook"
            data-placement="bottom"
            href="https://www.facebook.com/sergei.bakhtoiarov"
            target="_blank"
          >
            <i class="fa fa-facebook-square"></i>
            <p class="d-lg-none">Facebook</p>
          </a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            rel="tooltip"
            title="Follow us on Instagram"
            data-placement="bottom"
            href="https://www.instagram.com/netbah"
            target="_blank"
          >
            <i class="fa fa-instagram"></i>
            <p class="d-lg-none">Instagram</p>
          </a>
        </li> -->
        <li class="nav-item" *ngIf="showSignUp()">
          <a [routerLink]="['/login']" class="nav-link">
            <i class="nc-icon nc-circle-10"></i>Sign Up</a
          >
        </li>
        <li class="nav-item" *ngIf="!isHome()">
          <a [routerLink]="['/home']" class="nav-link"><i class="nc-icon nc-layout-11"></i>Home</a>
        </li>

        <li class="nav-item" *ngIf="showUserProfile()">
          <a [routerLink]="['/user-profile']" class="nav-link"
            ><i class="nc-icon nc-layout-11"></i>Profile</a
          >
        </li>
        <li class="nav-item">
          <a [routerLink]="['/posts']" class="nav-link"
            ><i class="nc-icon nc-layout-11"></i>Posts</a
          >
        </li>
        <li class="nav-item" *ngIf="showSignOut()">
          <a (click)="signOut()" class="nav-link"><i class="nc-icon nc-layout-11"></i>Sign Out</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
