<div class="card card-register">
  <h3 class="title">Forgot Password</h3>
  <h4 class="errorMessage">{{ errorMessage }}</h4>
  <form #form="ngForm" (ngSubmit)="forgotPassword(form)">
    <label>Email</label>
    <div
      class="input-group form-group-no-border"
      [ngClass]="{ 'input-group-focus': focus === true }"
    >
      <div class="input-group-prepend">
        <span class="input-group-text">
          <i class="nc-icon nc-email-85"></i>
        </span>
      </div>

      <input
        name="email"
        type="email"
        email="true"
        ngModel
        class="form-control"
        placeholder="Email"
        (focus)="focus = true"
        (blur)="focus = false"
        required
      />
    </div>

    <button [disabled]="!form.valid" class="btn btn-danger btn-block btn-round" submit>
      Send
    </button>
  </form>
</div>
